{
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": false,
    "jsx-a11y/media-has-caption": false
  },
  "globals": {
    "fabric": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ]
      }
    }
  }
}
