{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ]
      }
    }
  }
}
