.icon-mic {
  &:before {
    content: "\1";
  }
}

.icon-video {
  &:before {
    content: "\2";
  }
}

.icon-switch-screen {
  &:before {
    content: "\3";
  }
}

.icon-vertical-menu {
  &:before {
    content: "\4";
  }
}

.icon-paper {
  &:before {
    content: "\5";
  }
}

.icon-notebook-entry {
  &:before {
    content: "\6";
  }
}

.icon-caret-down {
  &:before {
    content: "\7";
  }
}

.icon-single-person {
  &:before {
    content: "\8";
  }
}

.icon-two-people {
  &:before {
    content: "\13";
  }
}

.icon-chat {
  &:before {
    content: "\10";
  }
}

.icon-share {
  &:before {
    content: "\11";
  }
}

.icon-phone-off {
  &:before {
    content: "\12";
  }
}

.icon-mic-off {
  &:before {
    content: "\14";
  }
}

.icon-video-off {
  &:before {
    content: "\15";
  }
}
